.container-skills {
    background: linear-gradient(135deg, rgba(224, 234, 252, 0.11), rgba(231, 239, 255, 0.08));
    padding: 20px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 90%;
    max-width: 800px;
    height: 250px;
    border-radius: 20px;
}

.container-skills h3 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #ffffff;
}

.skills-inner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    justify-items: center;
}
