.container-contact {
    background: linear-gradient(135deg, rgba(224, 234, 252, 0.11), rgba(231, 239, 255, 0.08));
    padding: 20px 20px;
    text-align: center;
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
    border-right: 50px;
    border-left: 50px;
}

.container-contact h3 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #ffffff;
}

form {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    display: grid;
    gap: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #ffffff;
}

.form-group.full-width {
    grid-column: span 2;
    width: 100%;
}

.form-group textarea {
    width: 95%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

.form-group input {
    width: 90%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* allows children to wrap to next line */
}

div.button-row {
    grid-column: span 2;
    width: 100%;
    display: flex;
    justify-content: right;
}

button.btn {
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(250, 2, 126);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.btn:hover {
    background-color: #7549a1;
}

.form-msg {
    margin-top: 10px;
    color: green;
    font-weight: 500;
}

@media (max-width: 600px) {
    form {
        gap: 30px; /* smaller gap on small screens */
    }

    /* Make all form groups take full width */
    .form-group {
        width: 100%;
    }

    /* Stack Name and Email vertically */
    .form-group.half-width {
        width: 100%;
    }
}
